@model IEnumerable<Fountain.Application.ViewModels.PenViewModel>

<div class="container body-content">
    <div class="row pen-content">
        @foreach(var pen in Model)
        {
            <div class="pen-image-container">
                <div class="pen-image" style="background-image:url(@pen.ImageUrl)"></div>
            </div>
            <p>@pen.Manufacturer</p>
            <a asp-controller="PenAdmin" asp-action="Pen" asp-route-id="@pen.Id">Edit</a>
        }
    </div>
</div>
